<div id="landingPage" class="row">
	
	<div id="landingPageContainer">
		
		<div id="landingPageBigButtons" class="row">
		

					<div class="col-xs-6 col-sm-3 col-sm-offset-2">									
						<button class="btn btn-lg btn-default btn-block" data-img="img/black1.png" data-hover="img/white1.png"   data-bind="click: showBomPage, event:{mouseover: applyHoverImage, mouseout: applyDefaultImage}">
							<div class="col-xs-12"> <img src="img/black1.png" /> </div>
							<div class="col-xs-12 buttonlabel">Create Bom</div>
						</button>
					</div>
					
					<div class="col-xs-6 col-sm-3 col-sm-offset-2">
						<button class="btn btn-lg btn-default btn-block"  data-img="img/black2.png" data-hover="img/white2.png" data-bind="click: showRulesPage, event:{mouseover: applyHoverImage, mouseout: applyDefaultImage}">
							<div class="col-xs-12"> <img src="img/black2.png" /> </div>
							<div class="col-xs-12 buttonlabel">Create Rules</div>
						</button>
					</div>							
		
		</div>
		
	</div>			
	
</div>