<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>RAConfiguratorAdmin</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GetAdminData</display-name>
    <servlet-name>GetAdminData</servlet-name>
    <servlet-class>com.xavor.raconfigurator.servlets.GetAdminData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAdminData</servlet-name>
    <url-pattern>/GetAdminData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetSearchResults</display-name>
    <servlet-name>GetSearchResults</servlet-name>
    <servlet-class>com.xavor.raconfigurator.servlets.GetSearchResults</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSearchResults</servlet-name>
    <url-pattern>/GetSearchResults</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateModelBOM</display-name>
    <servlet-name>CreateModelBOM</servlet-name>
    <servlet-class>com.xavor.raconfigurator.servlets.CreateModelBOM</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateModelBOM</servlet-name>
    <url-pattern>/CreateModelBOM</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateRules</display-name>
    <servlet-name>CreateRules</servlet-name>
    <servlet-class>com.xavor.raconfigurator.servlets.CreateRules</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateRules</servlet-name>
    <url-pattern>/CreateRules</url-pattern>
  </servlet-mapping>
</web-app>