
<div id="createBomPage">

	<div id="createBomPageContainer">
	
		<div>

			<div id="newBom">

				<div class="row">

					<div class="col-xs-12 col-sm-3 col-md-6 no_padding">

						<div data-bind="">
							<input id="bomId" class="form-control zero_border" type="text" placeholder="Bom Id" data-bind="value: bomId, disable:disableBomNumber "/>
						</div>	

					</div>									
					
					<div class="col-xs-12 col-sm-9 col-md-6 no_padding">
						<div class="pull-right">
							<button class="btn grey_buttons" data-bind="click: createNewBom">Create New</button>	
							<button class="btn grey_buttons" data-bind="click: openLoadExistingBomPopup"> Choose Existing </button>
						</div>
						
					</div>

				</div>										
				
			</div>

		</div>


		<hr/>

		<div id="bomTable">
			
			<div class="row" id="featureSetButton">
				<div class="pull-right">
					<button class="btn btn-primary blue_buttons" data-bind="click: openFeatureSetsPopup">
						<i class="glyphicon glyphicon-plus"></i>
						Add Feature Sets
					</button>
				</div>
			</div>

			<div data-bind="visible: featureSets().length > 0" class="row" id="feature_div">
				
				<div class="col-xs-12 no_padding">
					<table class=" text-center table table-hover table-bordered table-condensed" id="feature_table">	
						<thead>
							<tr>
								<th id="tableHeading"  class="text-center">Feature Set Title</th>
<!-- 								<th id="tableHeading"  ></th> -->
							</tr>
						</thead>						
						<tbody data-bind="foreach: featureSets">
							<tr data-bind="attr:{class: attrClass}, style:{display: rowType=='featureOption'?'none':'' }">
								<!-- <td class="col-xs-1" data-bind="if: rowType == 'featureSet'">

									<button class="btn btn-link" data-bind="click: toggleChildren"> 
										<i class="glyphicon glyphicon-plus" data-bind="visible: !isChildrenShown()"></i>
										<i class="glyphicon glyphicon-minus" data-bind="visible: isChildrenShown()"></i>
									</button>

								</td> -->

								<td data-bind="text: number, style:{'text-indent': rowType=='featureOption'?'2em': '0'" style="width: 540px;">
								</td>

								<td data-bind="if: rowType == 'featureSet'">
									<button class="btn btn-link" data-bind="click: $root.removeFeatureSet, attr:{'data-id':number}"> 
										<li class="glyphicon glyphicon-trash"></li>
									</button>
								</td>
							</tr>
							
						</tbody>
						
					</table>

					<div class="pull-right">
						<button class="btn btn-primary blue_buttons" data-bind="click: saveBom">
							Save BOM
						</button>
				
					</div>	
				</div>



			</div>
			
		</div>

		<div id="featureSetsModal" class="modal fade">
		
			<div class="modal-dialog modal-md" style="width:375px;">
		
				<div class="modal-content">
		
					<div class="modal-header">
						

						<div class="row">

							<div class="col-xs-12 col-sm-5">
								<h4> Feature Sets </h4>
							</div>

							<div class="col-xs-10 col-sm-7">
								<input id="filterFeatureSetsSearchQuery" class="form-control zero_border" placeholder="filter feature sets..." data-bind="value: filterFeatureSetSearchQuery"/>
							</div>
						</div>
						
					</div>

					<div class="modal-body">

						<div id="featureSetsCheckboxes" data-bind="foreach: searchResults">

							<div data-bind="visible: showThis" class="row">

								<div class="col-sm-6 col-sm-offset-5">
									<input type="checkbox" data-bind="checked: checkBoxValue" />
									<span data-bind="text: agileNumber"></span>
								</div>
								
							</div>
							
						</div>
						
					</div>

					<div class="modal-footer">

						<!-- <button class="btn btn-link" data-dismiss="modal"> Close </button> -->
						<button class="btn btn-primary zero_border" data-dismiss="modal" data-bind="click: addFeaturesToBom"> Add to BOM </button>
						
					</div>
					
				</div>
				
			</div>
			
		</div>					

		<div id="loadExistingBomPopup" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">

						<h4> Choose Existing BOM </h4>
						
					</div>

					<div class="modal-body">
						<div id="chooseExistingBom">
							<select class="chosen-select" data-bind="options: existingBomOptions, optionsCaptions: 'Select Bom', value: bomToLoad, max_selecte_options:10"></select>
						</div>
					</div>

					<div class="modal-footer">
						
					<button  class="btn btn-primary zero_border" data-dismiss="modal" data-bind="click: loadBom"> Load Bom</button>

					</div>

				</div>
				
			</div>
		</div>
		

	</div>
	
</div>
