<div id="landingPage" class="row">
	
	<div id="landingPageContainer">
		
		<div id="landingPageBigButtons" class="row">
		
			<div class="col-xs-6 col-sm-3 col-sm-offset-2">									
				<button class="btn btn-lg btn-default btn-block" data-bind="click: showSignInPage, event:{mouseover: applyHoverImage, mouseout: applyDefaultImage}">
					<i class="fa fa-sign-in"></i>
					<div class="col-xs-12 buttonlabel">Sign In</div>
				</button>
			</div>
			
			<div class="col-xs-6 col-sm-3 col-sm-offset-2">
				<button class="btn btn-lg btn-default btn-block" data-bind="click: showSignUpPage, event:{mouseover: applyHoverImage, mouseout: applyDefaultImage}">
					<i class="fa fa-user-plus"></i>
					<div class="col-xs-12 buttonlabel">Sign Up</div>
				</button>
			</div>							
		
		</div>
		
	</div>			
	
</div>